* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$fontSize: 16px;
$yellow: rgba(253, 189, 3, 1);
$textColor: rgba(44, 44, 44, 1);
$inputTextColor: rgba(229, 238, 255, 1);
$areabgColor: rgba(229, 238, 255, 1);
$heebo: 'Heebo', sans-serif;

%input {
    background-color: $inputTextColor;
    border: none;
    border-bottom: 4px solid $yellow;
    width: 417.5px;
    height: 50px;
}

%label {
    font-family: $heebo;
    font-size: $fontSize;
    color: $textColor;
    font-weight: bold;
    float: right;
}

@mixin desktop {
    @media(max-width:1280px) {
        @content;
    }
}

@mixin tablet {
    @media(max-width:1024px) {
        @content;
    }
}

@mixin lowtablet {
    @media(max-width:768px) {
        @content;
    }
}

@mixin mobie {
    @media(max-width:480px) {
        @content;
    }
}

@mixin fold {
    @media(max-width:280) {
        @content
    }
}