        body {
            background: transparent linear-gradient(180deg, rgba(40, 30, 255, 1) 0%, rgba(45, 255, 140, 1) 100%) 0% 0% no-repeat padding-box;
        }

        .middle {
            color: white;
            text-align: center;
            text-shadow: 0px 0px 36px #00000087;
        }

        .big {
            font-size: 32px;
            padding-bottom: 18px;
        }

        .small {
            font-size: 16px;
            padding-bottom: 27px;
        }

        .first,
        .second {
            font-size: 16px;
            color: white;
            direction: rtl;
        }

        .btn {
            float: right;
            margin-right: 20px;
        }

        h1 {
            font-family: "satisfy";
            font-size: 160px;

        }

        @media (max-width: 1200px) {

            .first,
            .second {
                float: none;
                margin: auto;
                display: block;
            }

            .btn {
                width: 100%;
                float: none;
            }
        }

        @media (max-width: 768px) {
            h1 {
                font-size: 100px;
            }

            .big {
                font-size: 22px;
            }
        }

        @media (max-width: 480px) {
            h1 {
                font-size: 60px;
            }

            .big {
                font-size: 16px;
            }
        }

        @media (min-width: 280px) and (max-width: 420px) {
            h1 {
                font-size: 60px;
            }

            .big {
                font-size: 16px;
            }

            .small {
                font-size: 12px;
            }

            .first,
            .second {
                width: 98vw;
                margin-left: 5px;
                margin-right: 5px;
            }

            .btn {
                width: 98vw;
                margin-right: 10px;
                margin-left: 5px;
            }

            input[type*=text] {
                width: 98vw;
                height: 50px;
            }
        }

        @media (max-width: 280px) {
            h1 {
                font-size: 60px;
            }

            .big {
                font-size: 16px;
            }

            .small {
                font-size: 12px;
            }

            .first,
            .second {
                margin: auto;
                display: block;
                float: none;
                margin-bottom: 30px;
                margin-top: 39px;
                width: 98vw;
                margin-right: 5px;

            }

            .btn {
                width: 100vw;
            }

            input[type*=text] {
                width: 98vw;
                height: 50px;
            }
        }
        .first {
    float: right;
    width: 418px;
    height: 50px;
    font-size: 16px;
    color: white;
    direction: rtl;
    font-family: varela round;
    margin-left: 37.5px;
}

input[type*=text] {
    width: 417.5px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
}

.second {
    float: right;
    width: 418px;
    height: 50px;
    font-size: 16px;
    color: white;
    direction: rtl;
    font-family: varela round;
    margin-left: 20.59px;
}

.btn {
    width: 206px;
    height: 50px;
    float: right;
}

input[type*=button] {
    width: 206px;
    height: 50px;
    font-size: 16px;
    font-family: varela round;
    border: 2px solid white;
    background-color: white;
}

.lbutton {
    font-size: 17px;
}

@media (max-width:1200px) {
    .first {
        margin: auto ;
        display: block;
        float: none;
        margin-bottom: 30px;
        margin-top: 39px;
    }

    .second {
        margin: auto;
        display: block;
        float: none;
        margin-bottom: 16.5px;
    }

    .btn {
        width: 100vw;
    }

    input[type*=button] {
        margin: auto;
        display: block;
        float: none;
        width: 418px;
    }
}

@media (max-width:768px) {
    h1 {
        font-size: 100px;
    }

    .big {
        font-size: 22px;
    }
}

@media (max-width:480px) {
    h1 {
        font-size: 60px;
    }

    .big {
        font-size: 16px;
    }
}

@media (min-width: 280px) and (max-width: 420px) {
    h1 {
        font-size: 60px;
    }

    .big {
        font-size: 16px;
    }

    .small {
        font-size: 12px;
    }

    .first,
    .second {
        width: 98vw;
        margin-left: 5px;
        margin-right: 5px;
    }

    .btn {
        width: 98vw;
        margin-right: 10px;
        margin-left: 5px;
    }

    input[type*=text] {
        width: 98vw;
        height: 50px;
    }

    input[type*=button] {
        width: 98vw;
    }
}


@media (max-width:280px) {
    h1 {
        font-size: 60px;
    }

    .big {
        font-size: 16px;
    }

    .small {
        font-size: 12px;
    }

    .first {
        margin: auto;
        display: block;
        float: none;
        margin-bottom: 30px;
        margin-top: 39px;
        width: 98vw;
        margin-right: 5px;

    }

    .second {
        margin: auto;
        display: block;
        float: none;
        margin-bottom: 16.5px;
        width: 98vw;
        margin-right: 5px;
    }

    .btn {
        width: 100vw;
    }

    input[type*=button] {
        margin: auto;
        display: block;
        float: right;
        width: 98vw;
        margin-right: 5px;
    }

    input[type*=text] {
        width: 98vw;
        height: 50px;
    }
}