* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4C4B16;
}

body::-webkit-scrollbar {
    width: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 100vw;
     margin-bottom: 20px;
}

.navbar .burger {
    color: #F7F1E5;
    font-size: 4rem;
    font-weight: bolder;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 40px;
}

.navbar .search {
    margin-top: 30px;
    width: 70vw;
    height: 75px;
    position: relative;
}

.search input {
    width: 70vw;
    height: 75px;
    border-radius: 40px;
    border: none;
    background-color: #F7F1E5;
}

.search img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 30px;
    opacity: 0.7;
}

.idf img {
    position: absolute;
    width: 12vw;
    height: 20vh;
    left: 20px;
    top: 20px;
}

.content {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.content h1 {
    font-family: 'Rubik Dirt', cursive;
    font-size: 7em;
    color: #E7B10A;
    font-weight: lighter;
}

.content h2 {
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
    color: #E7B10A;
    font-weight: lighter;
}

.content h3 {
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
    color: #E7B10A;
    font-weight: lighter;
    margin-top: 20px;
}

.forme {
    width: 80vw;
    height: 58vh;
    margin: auto;
}

form {
    width: 80vw;
    height: 58vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

form label {
    color: #F7F1E5;
    font-family: 'Rubik Dirt', cursive;
    font-weight: lighter;
    font-size: 1.9rem;
}

form input {
    border-radius: 38px;
    background-color: #F7F1E5;
    height: 60px;
    margin-top: 10px;
    font-size: 2rem;
    direction: rtl;
}

form button {
    height: 44px;
    background-color: #E7B10A;
    font-family: 'Rubik Dirt', cursive;
    font-weight: lighter;
    font-size: 1.9rem;
    color: #4C4B16;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    width: 168px;
    margin: auto;
}

@media screen and (max-width:1200px) {
    .idf img {
        display: none;
    }

    .content h1 {
        font-size: 4.5rem;
    }

    .content h2 {
        font-size: 2rem;
    }

    .content h3 {
        font-size: 2rem;
    }
}

@media screen and (max-width:768px) {
    .navbar {
        justify-content: flex-start;
        margin-left: 20px;
    }
}

@media screen and (max-width:480px) {
    .content h1 {
        font-size: 3rem;
    }

    .content h2 {
        font-size: 1.2rem;
    }

    .content h3 {
        font-size: 2rem;
    }

    .navbar .burger {
        right: 20px;
    }
}

@media screen and (max-width:370px) {
    .content h1 {
        font-size: 2rem;
    }

    .content h2 {
        font-size: 1rem;
    }

    .content h3 {
        font-size: 1.5rem;
    }

    .navbar .burger {
        right: 0px;
    }
}