* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0;
}

/* navbar */
.ham {
  width: 100vw;
  height: 60px;
  background-color: #393e41;
  position: relative;
}

.burger {
  position: absolute;
  top: 0;
  right: 20px;
}

.burger h1 {
  color: white;
  line-height: 1.5;
  font-size: 2.5rem;
}

.ham img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
}

.ham h2 {
  position: absolute;
  top: 18px;
  left: 88px;
  color: white;
  font-family: "Miriam Libre", sans-serif;
}

.navbar {
  position: fixed;
  z-index: 200;
}

.navbar nav {
  width: 100vw;
  height: 0;
  background-color: rgba(63, 35, 5, 0.7);
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  display: flex;
  justify-content: start;
  direction: rtl;
  padding-right: 20px;
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: underline;
  color: white;
  font-size: 2rem;
  font-family: "Miriam Libre", sans-serif;
}

.burger:hover + nav {
  height: 42px;
}

.navbar nav:hover {
  height: 42px;
}

.projectName {
  width: 100vw;
  background-color: #e7e5df;
  padding-top: 120px;
  padding-bottom: 120px;
}

.projectContent {
  width: 70vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 80px;
  margin: 0 auto;
  padding-top: 40px;
}

.projectName h1 {
  font-family: "Miriam Libre";
  font-size: 4rem;
  text-align: center;
}

.projectName p {
  font-family: "Miriam Libre";
  font-size: 2rem;
  direction: rtl;
  text-align: center;
  width: 70vw;
  margin: 0 auto;
}

.projectContent .show {
  border-radius: 20px;
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
}

.projectContent .show a {
  border-radius: 20px;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  font-family: "Miriam Libre";
  font-weight: bold;
  line-height: 2.1;
}

.projectContent .download {
  border-radius: 20px;
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
}

.projectContent .download a {
  border-radius: 20px;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  font-family: "Miriam Libre";
  font-weight: bold;
  line-height: 2.1;
}

/* tools */
.tools {
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #d3d0cb;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.tools img {
  width: 80px;
  height: 80px;
}

.tools img[alt="css"] {
  width: 70px;
}

.tools img[alt="bootstraplogo"] {
  margin-top: 13px;
}

/* projectphoto */
.projectphoto {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.projectphoto img {
  width: 80vw;
  height: 100vh;
  box-shadow: 0 0 30px black;
}

/* credit */
.credit {
  width: 100vw;
  background-color: #393e41;
  text-align: center;
}

.credit h1 {
  font-family: "Miriam Libre";
  font-weight: lighter;
  color: white;
}
@media screen and (max-width: 600px) {
  .projectContent .download a,
  .projectContent .show a {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 375px) {
  .tools img {
    width: 50px;
  }
  .tools img[alt="css"] {
    width: 50px;
  }
  .navbar .ham h2 {
    font-size: 1rem;
    left: 75px;
  }
  .navbar .ham img {
    left: 10px;
  }
}
