* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: "Open Sans", sans-serif;
}
body::-webkit-scrollbar {
  width: 0;
}
.backplace {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.backbtn {
  width: 150px;
  height: 50px;
  font-size: 2rem;
  border-radius: 30px;
}
/* header */
#mainpage .header h1 {
  text-align: center;
  font-size: 6rem;
}
#mainpage .header h3 {
  text-align: center;
  font-size: 2rem;
  margin-top: 80px;
  margin-bottom: 50px;
}
/* math Options */
#mainpage {
  display: block;
}
#mainpage .mathoptions {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 70px;
  width: 90vw;
}
#mainpage .option {
  border: 1px solid #000;
  height: 200px;
  border-radius: 30px;
  opacity: 0.7;
  transition: mainpage 0.3s ease-in-out;
  cursor: pointer;
}
#mainpage .top {
  margin: 0 auto;
  width: 98%;
  height: 49%;
  background-color: blue;
  border-radius: 30px 30px 0 0;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 6rem;
  text-shadow: 2px 2px 2px white;
}
#mainpage .bottom {
  width: 100%;
  height: 50%;
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#mainpage .option:hover {
  transform: scale(1.1);
  opacity: 1;
}
/* Addition */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: "Open Sans", sans-serif;
}
body::-webkit-scrollbar {
  width: 0;
}

#addition {
  display: none;
}
.header {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
}
.difficulty {
  top: 50px;
  position: absolute;
  left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#addition .addselect {
  font-size: 2rem;
  width: 150px;
  text-align: center;
}
#addition .additionproblem {
  border: 1px solid #000;
  width: 50vw;
  margin: 0 auto;
  height: 20vh;
  font-size: 3rem;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
}
#addition .solution {
  display: grid;
  width: 80vw;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}
#addition .addsol {
  border: 1px solid #000;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}
.rightorwrongbox {
  position: absolute;
  top: 50px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.rightorwrong {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.addright {
  text-align: center;
}
.addwrong {
  text-align: center;
}
.resetbutton {
  width: 50px;
}
/* subtraction */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: "Open Sans", sans-serif;
}
body::-webkit-scrollbar {
  width: 0;
}

#subtraction {
  display: none;
}
.header {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
}
#subtraction .subselect {
  font-size: 2rem;
  width: 150px;
  text-align: center;
}
#subtraction .subtractionproblem {
  border: 1px solid #000;
  width: 50vw;
  margin: 0 auto;
  height: 20vh;
  font-size: 3rem;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
}
#subtraction .solution {
  display: grid;
  width: 80vw;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}
#subtraction .subsol {
  border: 1px solid #000;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}
.rightorwrong {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.subright {
  text-align: center;
}
.subwrong {
  text-align: center;
}
.resetbutton {
  width: 50px;
}
/* multiplication */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: "Open Sans", sans-serif;
}
body::-webkit-scrollbar {
  width: 0;
}

#multiplication {
  display: none;
}
.header {
  text-align: center;
  margin-bottom: 50px;
}
#multiplication .header h1 {
  font-size: 4rem;
}
#multiplication .mulselect {
  font-size: 2rem;
  width: 150px;
  text-align: center;
}
#multiplication .multiplicationproblem {
  border: 1px solid #000;
  width: 50vw;
  margin: 0 auto;
  height: 20vh;
  font-size: 3rem;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
}
#multiplication .solution {
  display: grid;
  width: 80vw;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}
#multiplication .mulsol {
  border: 1px solid #000;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
.rightorwrong {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.mulright {
  text-align: center;
}
.mulwrong {
  text-align: center;
}
.resetbutton {
  width: 50px;
}
/* divide */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: "Open Sans", sans-serif;
}
body::-webkit-scrollbar {
  width: 0;
}

#divide {
  display: none;
}
.header {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
}
#divide .divselect {
  font-size: 2rem;
  width: 150px;
  text-align: center;
}
#divide .divideproblem {
  border: 1px solid #000;
  width: 50vw;
  margin: 0 auto;
  height: 20vh;
  font-size: 4rem;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
}
#divide .solution {
  display: grid;
  width: 80vw;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}
#divide .divsol {
  border: 1px solid #000;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}
.rightorwrong {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.divright {
  text-align: center;
}
.divwrong {
  text-align: center;
}
.resetbutton {
  width: 50px;
}
/* divide */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: "Open Sans", sans-serif;
}
body::-webkit-scrollbar {
  width: 0;
}

/* AddOrSub */

#addorsub {
  display: none;
}
.header {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
}
#addorsub .addorselect {
  font-size: 2rem;
  width: 150px;
  text-align: center;
}
#addorsub .addorsubproblem {
  border: 1px solid #000;
  width: 50vw;
  margin: 0 auto;
  height: 20vh;
  font-size: 3rem;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
}
#addorsub .solution {
  display: grid;
  width: 80vw;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}
#addorsub .addorsol {
  border: 1px solid #000;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}
.rightorwrong {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.addorright {
  text-align: center;
}
.addorwrong {
  text-align: center;
}
.resetbutton {
  width: 50px;
}
/* AddOrSub */

#advanced {
  display: none;
}
.header {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
}
#advanced .advancedselect {
  font-size: 2rem;
  width: 150px;
  text-align: center;
}
#advanced .advancedsubproblem {
  border: 1px solid #000;
  width: 50vw;
  margin: 0 auto;
  height: 20vh;
  font-size: 3rem;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
}
#advanced .solution {
  display: grid;
  width: 80vw;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}
#advanced .advancedsol {
  border: 1px solid #000;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
.rightorwrong {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.advancedright {
  text-align: center;
}
.advancedwrong {
  text-align: center;
}
.resetbutton {
  width: 50px;
}

@media screen and (max-width: 1024px) {
  .addsol {
    font-size: 2rem;
  }
  .header h1 {
    font-size: 4rem;
  }
  #multiplication .multiplicationproblem {
    font-size: 2rem;
  }
  #multiplication .mulsol {
    font-size: 3rem;
  }
  #divide .divideproblem {
    font-size: 2rem;
  }
  #divide .divsol {
    font-size: 3rem;
  }
  #advanced .advancedsubproblem {
    font-size: 2.5rem;
  }
  #advanced .advancedsol {
    font-size: 4rem;
  }
}
@media screen and (max-width: 900px) {
  #mainpage .bottom {
    font-size: 1.5rem;
  }
  #mainpage .top {
    font-size: 3rem;
  }
  .difficulty {
    left: 10px;
  }
  .difficulty h1 {
    font-size: 1rem;
  }
  .difficulty select {
    font-size: 1rem;
    width: 100px;
  }
  .rightorwrongbox {
    width: 100px;
  }
  .rightorwrong h1 {
    font-size: 1rem;
  }
  .header {
    font-size: 2rem;
  }
  #addition .addsol {
    font-size: 4rem;
  }
  #subtraction .subtractionproblem {
    font-size: 2rem;
  }
  #subtraction .subsol {
    font-size: 4rem;
  }
  #addorsub .addorsubproblem {
    font-size: 2rem;
  }
}
@media screen and (max-width: 580px) {
  #mainpage .header h1 {
    text-align: center;
    font-size: 4rem;
  }
  #mainpage .header h3 {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 50px;
  }
  #mainpage .bottom {
    font-size: 1.5rem;
  }
  #mainpage .top {
    font-size: 3rem;
  }
  #multiplication .solution .mulsol {
    font-size: 1.5rem;
  }
  #divide .solution .divsol {
    font-size: 1.5rem;
  }
  #addorsub .solution .addorsol {
    font-size: 2rem;
  }
  #divide .divideproblem {
    font-size: 1.5rem;
  }
  #addorsub .backbtn {
    margin-top: 100px;
  }
  #addorsub .addorsubproblem {
    border: none;
    font-size: 1.5rem;
  }
  #addorsub .addorsubproblem h1 {
    border: 1px solid #000;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
  }
  #advanced .advancedsubproblem h1 {
    font-size: 3rem;
  }
  #advanced .solution .advancedsol {
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  #mainpage .header h1 {
    text-align: center;
    font-size: 4rem;
  }
  #mainpage .header h3 {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 50px;
  }
  #mainpage .bottom {
    font-size: 2rem;
  }
  #mainpage .top {
    font-size: 2rem;
  }
  #mainpage .option {
    height: 150px;
  }
  #multiplication .header h1 {
    font-size: 3rem;
  }
  #divide .divideproblem {
    border: none;
  }
  #divide .divideproblem h1 {
    border: 1px solid #000;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
  }
  #addorsub .addorsubproblem {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 400px) {
  #mainpage .header h1 {
    text-align: center;
    font-size: 3rem;
  }
  #mainpage .header h3 {
    text-align: center;
    font-size: 1rem;
    margin-top: 50px;
  }
  #mainpage .bottom {
    font-size: 1.5rem;
  }
  #mainpage .top {
    font-size: 2rem;
  }
  #mainpage .option {
    height: 100px;
  }
  #mainpage .mathoptions {
    gap: 30px;
  }
  #subtraction .subtractionproblem {
    font-size: 1rem;
  }
  #multiplication .mulselect {
    font-size: 2rem;
    width: 100px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  #mainpage .mathoptions {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  #addition .additionproblem {
    width: auto;
    height: auto;
    border: none;
  }
  #addition .additionproblem h1 {
    font-size: 4rem;
    border: 1px solid #000;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
  }
  #addition .solution {
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  #subtraction .solution {
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  #multiplication .solution {
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  #divide .solution {
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  #addorsub .solution {
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  #advanced .solution {
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  #addition .addsol {
    font-size: 3rem;
  }
  #advanced .advancedsol {
    font-size: 3rem;
  }
  .container {
    position: relative;
  }
  #addition .addselect {
    font-size: 1rem;
    width: 100px;
    text-align: center;
  }
  .header {
    margin-bottom: 10px;
  }
  .header h1 {
    font-size: 2rem;
  }

  #subtraction .subtractionproblem {
    border: none;
  }
  #subtraction .subtractionproblem h1 {
    font-size: 2rem;
    border: 1px solid #000;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
  }
  #subtraction .subsol {
    font-size: 2rem;
  }
  #multiplication .mulsol {
    font-size: 2rem;
  }
  #multiplication .multiplicationproblem {
    border: none;
  }
  #multiplication .multiplicationproblem h1 {
    font-size: 3rem;
    border: 1px solid #000;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
  }
  #advanced .advancedsubproblem {
    border: none;
    font-size: 2rem;
  }
  #advanced .advancedsubproblem h1 {
    border: 1px solid #000;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
  }
}
@media screen and (max-width: 375px) {
  #mainpage .mathoptions {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .bottom {
    font-size: 2rem;
  }
  #addition .additionproblem h1 {
    font-size: 3rem;
  }
  #subtraction .subtractionproblem h1 {
    font-size: 1.5rem;
  }
  #multiplication .header h1 {
    font-size: 2rem;
  }
  #addition .addsol {
    font-size: 2rem;
  }
  #subtraction .subselect {
    font-size: 2rem;
    width: 100px;
    text-align: center;
  }
  #divide .divselect {
    font-size: 2rem;
    width: 100px;
    text-align: center;
  }
  #addorsub .addorselect {
    font-size: 2rem;
    width: 100px;
    text-align: center;
  }
  #multiplication .solution .mulsol {
    font-size: 1rem;
  }
  #addorsub .addorsubproblem {
    font-size: 0.7rem;
  }
  #advanced .advancedsubproblem h1 {
    font-size: 1.5rem;
  }
  #advanced .solution .advancedsol {
    font-size: 1.5rem;
  }
  #advanced .advancedselect {
    width: 100px;
  }
}
