* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  user-select: none;
  overflow: hidden;
}
/* Editor */
.editor {
  z-index: 2000;
  position: absolute;
  right: 0;
  width: 20vw;
  height: 100vh;
  border: 1px solid #000;
  background-color: lightblue;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.3s all ease-in-out;
  transform: translateX(400px);
  overflow: auto;
}
.hamburger {
  z-index: 2000;
  position: absolute;
  right: 20vw;
  top: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 20px 0 0 20px;
  border: 1px solid #000;
  background-color: lightblue;
  opacity: 0.8;
  border-right: none;
  transition: 0.3s all ease-in-out;
  transform: translateX(400px);
}
.editor h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.editor label {
  font-size: 1rem;
}
.editor select {
  width: 12vw;
  height: 30px;
  text-align: center;
  font-size: 1rem;
}
.editor input {
  width: 12vw;
  height: 30px;
  text-align: center;
  font-size: 1rem;
}
.editor button {
  width: 12vw;
  height: 30px;
  font-size: 1.5rem;
  margin-top: 50px;
  background-color: steelblue;
}
.file {
  display: none;
}
.filelabel {
  display: none;
}
.filep {
  display: none;
  text-align: center;
}
.placeimagelabel {
  display: none;
}
.placeimageinput {
  display: none;
}
.pages {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.pages h1 {
  font-size: 1rem;
}
.pages button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
}
.moveleft img {
  width: 20px;
  transform: rotate(180deg);
}
.moveright img {
  width: 20px;
}
.newpage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.newpagebtn {
  font-size: 1.5rem;
}
@media screen and (max-width: 1200px) {
  .editor button {
    font-size: 0.7rem;
    font-weight: bold;
  }
}
@media screen and (max-width: 768px) {
  .editor button {
    font-size: 0.6rem;
    font-weight: bold;
  }
  .editor label {
    font-size: 0.8rem;
    text-align: center;
  }
  .editor h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .editor input {
    font-size: 0.7rem;
  }
  .editor h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 375px) {
  .editor input {
    font-size: 0.7rem;
  }
  .editor h1 {
    font-size: 1rem;
  }
  .editor label {
    font-size: 0.6rem;
  }
  .editor select {
    font-size: 0.5rem;
  }
  .editor button {
    font-size: 0.3rem;
  }
}
