* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  user-select: none;
}
#all {
  background-image: url("../../sources/images/PicsGalleryBGC.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
/* center */
.register {
  display: flex;
  justify-content: center;
}
/* form */
.register form {
  margin-top: 100px;
  width: 500px;
  height: 700px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 14px white;
}
.register form h1 {
  text-align: center;
  font-size: 2.5rem;
  user-select: none;
  margin-bottom: 20px;
  margin-top: 20px;
}
.register form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.first,
.second,
.name {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
  width: 350px;
  gap: 20px;
}
.register input {
  height: 40px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 1.5rem;
  outline: none;
}
.register label {
  user-select: none;
}
::placeholder {
  opacity: 0.3;
}
.register form button {
  width: 350px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-image: url("../../sources/images/PicsGalleryBGC.png");
  font-size: 1rem;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}
.register1 {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.switchlogin {
  text-decoration: underline;
  cursor: pointer;
}
.switchlogin:hover {
  color: purple;
}
/* login */
.login {
  display: none;
  justify-content: center;
}
/* form */
.login form {
  margin-top: 100px;
  width: 500px;
  height: 700px;
  box-shadow: 0 0 14px white;
  background-color: white;
  border-radius: 30px;
}
.login form h1 {
  text-align: center;
  font-size: 2.5rem;
  user-select: none;
  margin-bottom: 20px;
  margin-top: 20px;
}
.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.loginfirst,
.loginsecond {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
  width: 350px;
  gap: 20px;
}
.login input {
  height: 40px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 1.5rem;
  outline: none;
}
.login label {
  user-select: none;
}
::placeholder {
  opacity: 0.3;
}
.login p {
  font-size: 0.8rem;
  margin-top: -15px;
  display: flex;
  width: 350px;
  direction: rtl;
  letter-spacing: 1px;
}
.login p:hover {
  color: purple;
  cursor: pointer;
  text-decoration: underline;
}
.login form button {
  width: 350px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-image: url("../../sources/images/PicsGalleryBGC.png");
  font-size: 1rem;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}
.login1 {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.switchregister {
  text-decoration: underline;
  cursor: pointer;
}
.switchregister:hover {
  color: purple;
}
/* changepass */
.changepass {
  display: none;
  justify-content: center;
}
.changepass form {
  margin-top: 100px;
  width: 500px;
  height: 700px;
  box-shadow: 0 0 14px white;
  background-color: white;
  border-radius: 30px;
}
.changepass form h1 {
  text-align: center;
  font-size: 2.5rem;
  user-select: none;
  margin-bottom: 50px;
  margin-top: 20px;
}
.changepass form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.changepassfirst,
.changepasssecond,
.changepassuser {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
  width: 350px;
  gap: 20px;
}
.changepass input {
  height: 40px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 1.5rem;
  outline: none;
  text-align: left;
}
.changepass label {
  user-select: none;
}
.changepass form button {
  width: 350px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-image: url("../../sources/images/PicsGalleryBGC.png");
  font-size: 1rem;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

/* error */
.error {
  margin-top: -10px;
  font-size: 1rem;
}
/* Gallery */
.Gallery {
  display: none;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.header h1 {
  text-align: center;
  color: white;
  font-size: 8rem;
}

.gallerygrid {
  margin: 0 auto;
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 100px;
  margin-top: 100px;
}
.picture {
  border: 1px solid white;
  border-radius: 30px;
  height: 300px;
  background-color: black;
  transform: scale(0.9);
  transition: 0.2s all ease-in-out;
}
.picture:hover {
  transform: scale(1);
}
.pic {
  height: 83%;
  width: 100%;
  border-radius: 30px 30px 0 0;
  border: 1px solid #000;
  background-color: white;
}
.settings {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 60%;
  color: white;
}
.removebtn {
  font-size: 2rem;
  border: none;
  width: 60px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  color: white;
}
h2 {
  cursor: pointer;
}
h2:hover {
  transform: scale(1.1);
}
.likedislike {
  display: flex;
  gap: 10px;
}
.likecounter {
  cursor: auto;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
}
.fa {
  color: white;
}
.logout {
  display: flex;
  position: absolute;
  top: 7px;
  left: 7px;
  gap: 5px;
  color: white;
  font-size: 0.6rem;
  align-items: center;
  cursor: pointer;
}
.logout h1 {
  font-size: 0.7rem;
}

@media screen and (max-width: 1024px) {
  .gallerygrid {
    width: 80vw;
    margin-top: 50px;
  }
  .header {
    margin: 0;
  }
  .pic {
    height: 80%;
  }
}
@media screen and (max-width: 768px) {
  .register form,
  .login form,
  .changepass form {
    width: 400px;
    height: 600px;
  }
  .first,
  .loginfirst,
  .second,
  .loginsecond,
  .name {
    width: 300px;
  }
  .login p {
    width: 300px;
  }
  .register form button,
  .login form button,
  .changepass form button {
    width: 300px;
  }
  .register input,
  .login input,
  .changepass input {
    margin: 0 auto;
    width: 300px;
    height: 30px;
    font-size: 1.2rem;
  }
  .register label {
    font-size: 1rem;
  }
  .register1,
  .login1 {
    margin-top: 40px;
  }
  .gallerygrid {
    width: 90vw;
  }
  .header h1 {
    font-size: 5rem;
  }
  .picture {
    height: 200px;
  }
  .likecounter {
    font-size: 1rem;
  }
  .likedislike h2 {
    font-size: 1rem;
  }
  .likedislike {
    gap: 2px;
  }
}
@media screen and (max-width: 480px) {
  .register form,
  .login form,
  .changepass form {
    width: 300px;
    height: 500px;
  }
  .register form h1,
  .login form h1,
  .changepass form h1 {
    margin: 0;
    margin-top: 10px;
  }
  .changepass form h1 {
    font-size: 2rem;
  }
  .first,
  .loginfirst,
  .second,
  .loginsecond,
  .name {
    width: 200px;
  }
  .register form button,
  .login form button,
  .changepass form button {
    width: 200px;
  }
  .register input,
  .login input,
  .changepass input {
    height: 20px;
    font-size: 1rem;
    width: 200px;
  }
  .register label,
  .login label {
    font-size: 1rem;
  }
  .register1,
  .login1 {
    margin-top: 0px;
  }
  .register1 h3,
  .login1 h3 {
    font-size: 1rem;
  }
  .login p {
    width: 200px;
    font-size: 0.6rem;
  }
  .picture {
    height: 150px;
    border-radius: 10px;
  }
  .pic {
    border-radius: 10px 10px 0 0;
    height: 75%;
  }
  .header h1 {
    font-size: 3rem;
  }
  .likedislike h2 {
    font-size: 0.7rem;
  }
  .likecounter {
    font-size: 0.7rem;
  }
  .gallerygrid {
    gap: 10px;
  }
  .fa {
    font-size: 12px;
  }
}
@media screen and (max-width: 375px) {
  .register form,
  .login form,
  .changepass form {
    width: 200px;
    height: 400px;
  }
  .register input,
  .login input,
  .changepass input {
    height: 20px;
    font-size: 0.7rem;
    width: 150px;
  }
  .register form button,
  .login form button,
  .changepass form button {
    width: 150px;
    font-size: 0.7rem;
    height: 20px;
  }
  .register form h1,
  .login form h1,
  .changepass form h1 {
    font-size: 1.5rem;
  }
  .register label,
  .login label {
    font-size: 0.7rem;
  }
  .first,
  .loginfirst,
  .second,
  .loginsecond,
  .name {
    gap: 10px;
  }
  .register1 h3,
  .login1 h3 {
    font-size: 0.7rem;
  }
  .login p {
    width: 150px;
  }
  .changepass form h1 {
    font-size: 1rem;
  }
  .changepassuser {
    font-size: 1rem;
  }
  .changepassfirst,
  .changepasssecond {
    font-size: 1rem;
  }
  .picture {
    height: 100px;
  }
  .gallerygrid {
    gap: 5px;
  }
  .header h1 {
    font-size: 2rem;
  }
}
