* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
body::-webkit-scrollbar {
  width: 0;
}
body {
  background-color: rgb(103, 152, 158);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#all {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 25vw 50vw 25vw;
  font-family: "Audiowide", cursive;
}
/* Full Screen */
.nonegrid {
  font-size: 1rem;
  margin-top: 20px;
  color: white;
  text-shadow: 1px 1px 12px rgb(0, 0, 0);
  font-weight: lighter;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boardgrid {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.scoregrid {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
/* board */
.boardgrid h1 {
  font-size: 4rem;
  margin-top: 20px;
  color: white;
  text-shadow: 1px 1px 12px rgb(0, 0, 0);
  font-weight: lighter;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.board .cell {
  border: 3px solid white;
  font-size: 11rem;
  color: white;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:first-child {
  border-top: none;
  border-left: none;
}

.cell:nth-child(2) {
  border-top: none;
}

.cell:nth-child(3) {
  border-top: none;
  border-right: none;
}

.cell:nth-child(4) {
  border-left: none;
}

.cell:nth-child(6) {
  border-right: none;
}

.cell:nth-child(7) {
  border-left: none;
  border-bottom: none;
}

.cell:nth-child(8) {
  border-bottom: none;
}

.cell:nth-child(9) {
  border-bottom: none;
  border-right: none;
}
/* buttons */
.buttons {
  display: flex;
  gap: 50px;
}
.restart,
.undo,
.newgame,
.setbtn {
  font-size: 1.5rem;
  font-family: "Audiowide", cursive;
  padding: 5px 10px 5px 10px;
  border: none;
  background-color: rgb(161, 194, 199);
  box-shadow: 0 0 8px black;
  cursor: pointer;
}

/* score */
.scoregrid h1 {
  font-size: 2rem;
  text-align: center;
  color: white;
  text-decoration: underline;
  text-shadow: 0 0 7px black;
}
.scorexo {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  gap: 30px;
  font-size: 2rem;
  color: white;
}
/* gamesetiings */
.nonegrid h1 {
  font-size: 2rem;
}
.nonegrid select {
  font-size: 1.5rem;
  margin-top: 30px;
  font-family: "Audiowide", cursive;
  background-color: rgb(161, 194, 199);
  box-shadow: 0 0 8px black;
  text-align: center;
  background-color: white;
}
select option {
  padding: 5px;
  background-color: white;
}
.setbtn {
  width: 80px;
  height: 50px;
  line-height: 0;
  margin-top: 30px;
  font-size: 1.5rem;
}

/* media Query */
@media screen and (max-width: 1200px) {
  #all {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .boardgrid {
    grid-row: 1;
  }
  .container {
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .board .cell {
    font-size: 11rem;
    width: 180px;
    height: 180px;
  }
}
@media screen and (max-width: 1000px) {
  .board .cell {
    font-size: 11rem;
    width: 150px;
    height: 150px;
  }
  .scoregrid {
    margin-right: 30px;
  }
  .scoregrid h1 {
    text-align: right;
  }
  .scorexo {
    justify-content: right;
  }
}
@media screen and (max-width: 768px) {
  .boardgrid h1 {
    font-size: 3rem;
  }
  .board .cell {
    font-size: 9rem;
    width: 130px;
    height: 130px;
  }
  .scoregrid {
    margin-right: 30px;
  }
  .scoregrid h1 {
    text-align: right;
  }
  .scorexo {
    justify-content: right;
  }
  .nonegrid h1 {
    font-size: 1rem;
  }
  .nonegrid select {
    font-size: 1rem;
  }
  .setbtn {
    font-size: 1rem;
    height: 20px;
    width: auto;
  }
  .buttons {
    gap: 10px;
  }
}
@media screen and (max-width: 425px) {
  .boardgrid h1 {
    font-size: 2rem;
  }
  .board .cell {
    font-size: 6rem;
    width: 100px;
    height: 100px;
  }
  .scoregrid {
    margin-right: 30px;
  }
  .scoregrid h1 {
    text-align: right;
  }
  .scorexo {
    justify-content: right;
  }
  .nonegrid h1 {
    font-size: 1rem;
  }
  .nonegrid select {
    font-size: 1rem;
  }
  .setbtn {
    font-size: 1rem;
    height: 20px;
    width: auto;
  }
  #all {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .boardgrid {
    grid-row: 1;
    height: 450px;
  }
  .buttons {
    gap: 10px;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .nonegrid,
  .scoregrid {
    width: 40%;
    margin: 0;
  }
  .scoregrid {
    align-items: center;
  }
  .nonegrid {
    order: 2;
  }
  .scoregrid {
    order: 1;
  }
}
@media screen and (max-width: 380px) {
  .restart,
  .undo,
  .newgame,
  .setbtn {
    font-size: 1rem;
  }
}
@media screen and (max-width: 350px) {
  .restart,
  .undo,
  .newgame,
  .setbtn {
    font-size: 1rem;
  }
  .container {
    margin-top: 60px;
  }
}
